.wjj_box{
	width:100%;
	overflow:hidden;
	background:#F4F4F4;
}
.wjj_left_we{
	float:left;
	width:187px;
	height:366px;
	background:#ffffff;
	margin-left:174px;
	margin-top:36px;
}
.wjj_left_we ul{
	width:100%;
	height:366px;
}
.wjj_left_we ul li{
	width:100%;
	height:60px;
	border:1px solid #f5f5f5;
	line-height:60px;
	text-align:center;
	color:#323232;
	font-size:17px;
}
.wjj_left_we ul li p{
	width:5px;
	height:55px;
	float:left;
	background:#e4365b;
	display:inline-block;
}
.wjj_left_we ul li:hover{
	color:#e4365b;
    cursor:pointer;
}
.wjj_right_we{
	float:left;
	margin-left:30px;
	width:781px;
	height:772px;
	margin-top:36px;
	background:#ffffff;
	margin-bottom:52px;
}
.about{
	width:759px;
	height:71px;
	line-height:71px;
	text-align:center;
	border-bottom:1px solid #e8e8e8;
	margin:0 auto;

}
.about p{
		font-size:24px;
		color:#323232;
		width:135px;
		height:71px;
		line-height:71px;
		text-align:center;
		margin:0 auto;
		border-bottom:4px solid #e4365b;
}
.tell{
	width:746px;
	height:636px;
	margin-left:13px;
	margin-top:30px;
}
.tell p{
	color:#585858;
	font-size:18px;
	margin-top:10px;
	line-height:30px;
	
}
.tell h1{
	color:#323232;
	font-size:20px;
	margin-top:30px;
}
.tell img{
	margin-top:8px;
}
